@import "tailwindcss";
@config "../tailwind.config.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

:root {
  --primary-color: #4CAF50;
  --secondary-color: #f44336;
  --background-color: #f0f0f0;
  --text-color: #333;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
