@import "tailwindcss";
@import "@heroui/styles";

:root {
  --primary-color: #4CAF50;
  --secondary-color: #f44336;
  --background-color: #f0f0f0;
  --text-color: #333;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
